<ion-header>
  <ion-navbar>
    <ion-title>Accueil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content> 
  <ion-list> 
    <ion-card *ngFor="let post of (posts | async)?.items" (click) = "viewPost(post)">
      <ion-item>
        <ion-avatar item-start>
          <img src="{{post.author.image.url}}">
        </ion-avatar>
        <h2>{{post.title}}</h2>
        <p>{{post.published}}</p>
      </ion-item>

      <img src="{{post.picture}}">

      <ion-card-content>
        <p [innerHTML]="post.content"></p>
        <p>{{post.content | slice : 0 : 200}}</p>
      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="folder-open"></ion-icon>
            <div>{{post.category}}</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="pricetags"></ion-icon>
            <ion-item *ngFor="let label of post.labels"><span>{{label}}</span></ion-item>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-start clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{post.replies.totalItems}} commentaires</div>
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

</ion-content>
